/********************************/
/*estilos generales de la página*/
/********************************/
* { /*reseteo todos los elementos para que por default tengan 
	un margen 0 y padding 0 y un modelo de caja tipo border-box*/
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif; /*especifico el nombre y familia de la tipografia a usar*/
}
html {
  scroll-behavior: smooth; /*para desplazarse "scrolear" suavemente dentro de la página al presionar un enlace*/
}
/***************************************************/


/**********************************/
/*estilos para header de la página*/
/**********************************/
header {
  font-size: 20px;
  background-color: #6a0000;
  height: auto;
  padding: 20px 10%;
  box-shadow: 0px 1px 8px grey;
  transition: 200ms;
}

/* ===== NUEVO: Contenedor superior (logo + botón alineados) ===== */
.menu-top {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Logo izquierda - botón derecha */
  align-items: center;             /* MISMA ALTURA */
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.identificador {
  display: flex;
  align-items: center;
}

.identificador img {
  margin-top: 0; /* Para que no empuje hacia abajo */
  height: 80px;
}

.ligas-secciones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 12px;
}

.ligas-secciones a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  transition: transform 120ms ease;
}

.ligas-secciones a:hover {
  transform: scale(1.08);
}

.menu-toggle {
  display: none; 
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 26px;
  padding: 5px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 680px) {

  header {
    padding: 15px 6%;
  }

  /* Mostrar botón en móvil */
  .menu-toggle {
    display: block;
  }

  /* Menú oculto en móvil */
  .ligas-secciones {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
  }

  .ligas-secciones.show {
    display: flex;
  }
}


/***************************************************/







/********************************/
/*estilos para body de la página*/
/********************************/
.secciones {/*caracteristicas elementos en contenedor con la clase menu-container*/
  	display: flex; /*tipo de layout felxbox*/
  	flex-direction: column; /*rederizara/dibujara los items/elementos hijos en el layout 
  	como una columna, un contenedor o un item sobre el otro */
  	padding-left: 10%; /*hago un espacio a la izquierda al interior del contenedor header de 10% del ancho del viewport*/
    padding-right: 10%; /*hago un espacio a la derecha al interior del contenedor header de 10% del ancho del viewport*/
}
.texto-secc {
	display: flex; /*sera un elemento/item de tipo flex*/
	flex-direction: column; /*rederizara/dibujara los items/elementos hijos en el layout 
  	como una columna, un contenedor o un item sobre el otro */
}
.texto-secc h1{
	display: flex; /*sera un elemento/item de tipo flex*/
	justify-content: center; /*defino la alineación horizontal de los items hijos al centro*/
	margin-top: 30px;
}
.texto-secc p{
	font-size: 15pt;
	display: flex; /*sera un elemento/item de tipo flex*/
	margin-top: 8px;
}
.contenedor-imagen {
  	display: flex; /*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center;
}
.imgs-secc-1{
	.imgs-secc-1 img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}
.par-imgs-escritorio{/*caracteristicas elementos en contenedor con la clase secciones*/
	/*border: 5px solid #555;  /* For debugging */
	width: 45%; /*ancho que tendra el contenedor con clase menu*/
	display: flex; /*sera un elemento/item de tipo flex*/
	justify-content: space-around; /*defino la alineación horizontal de los items hijos diciendo
	cuando hay mas de uno distribuya el esapcio restante entre los espacios de cada elemento/item*/
}
.par-imgs-escritorio img{
	 width: 90%;
    height: auto; 
    object-fit: cover;
    display: block;
}	
.par-imgs-escritorio img:hover{
  transform: scale(1.03);
  transition: 200ms;
}
.par-imgs-escritorio p{
	width: 100%;
	font-size: 13pt;
	font-style: italic;
	text-align: center;
	max-width: 100%;
    height: auto;
	display: flex; /*sera un elemento/item de tipo flex*/
}
.par-imgs-mobile{/*caracteristicas elementos en contenedor con la clase secciones*/
	display: none;
}
.par-imgs-mobile img{
	display: none;
}
.par-imgs-mobile p{
	display: none;
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px) {
	.texto-secc p{
		font-size: 14pt;
	}
	.par-imgs-escritorio{/*caracteristicas elementos en contenedor con la clase secciones*/
		display: none;
	}
	.par-imgs-escritorio img{
		display: none;
	}
	.par-imgs-escritorio img:hover{
	 	display: none;
	}
	.par-imgs-escritorio p{
		display: none;
	}
	.par-imgs-mobile{/*caracteristicas elementos en contenedor con la clase secciones*/
		/*border: 5px solid #555;  /* For debugging */
		width: 45%; /*ancho que tendra el contenedor con clase menu*/
  		display: flex; /*sera un elemento/item de tipo flex*/
  		flex-direction: column;
  		align-items: center; 
	}
	.par-imgs-mobile img{
		width: 100%;
		transition: 200ms;
		display: flex; /*sera un elemento/item de tipo flex*/
	}
	.par-imgs-mobile img:hover{
	 	transform: scale(1.03);
  		transition: 200ms;
	}
	.par-imgs-mobile p{
		width: 100%;
		font-size: 12pt;
		font-style: italic;
		text-align: center;
		display: flex; /*sera un elemento/item de tipo flex*/
	}
 }
	.contenedor-imagen img{
	display: flex; /*sera un elemento/item de tipo flex*/
	width: 25%;
	transition: 100ms;
}
	.contenedor-imagen img:hover{
  transform: scale(1.03);
  transition: 100ms;
}
	}
	.contenedor-imagen p{
	width: 30%;
	text-align: center;
	font-size: 16pt;
	font-style: italic;
	display: flex; /*sera un elemento/item de tipo flex*/
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px){
	.contenedor-imagen img{
		width: 60%;
		transition: 200ms;
	}
	.contenedor-imagen p{
		width: 100%;
		font-size: 12pt;
	}
}
.contenedor-imagen-secc4{
	display: flex; /*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center;
}
.contenedor-imagen-secc4 p{
	width: 40%;
	text-align: center;
	font-style: italic;
	font-size: 16pt;
	display: flex; /*sera un elemento/item de tipo flex*/
}
.contenedor-imagen-secc4 img{
	display: flex; /*sera un elemento/item de tipo flex*/
	width: 40%;
	transition: 200ms;
}
.contenedor-imagen-secc4 img:hover{
  transform: scale(1.03);
  transition: 200ms;
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 700px){
	.contenedor-imagen-secc4 p{
		width: 100%;
		font-size: 12pt;
	}
	.contenedor-imagen-secc4 img{
		display: flex; /*sera un elemento/item de tipo flex*/
		width: 50%;
		transition: 200ms;
	}
}
/***************************************************/






/**********************************/
/*estilos para footer de la página*/
/**********************************/
footer {
  background-color: #6a0000;
  margin-top: 60px;
  box-shadow: 0px -1px 8px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

/* Íconos */
.footer-item {
  display: flex;
  justify-content: center;
  gap: 35px; /* Separación uniforme entre iconos */
  margin-bottom: 40px;
}

.footer-item img {
  height: 35px;
  transition: transform 150ms ease, opacity 150ms ease;
}

.footer-item img:hover {
  transform: scale(1.15);
  opacity: 0.85;
}

/* Copyright */
.copyright {
  font-size: 13pt;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.copyright p {
  margin: 0;
}

/* ===== Responsivo ===== */
@media screen and (max-width: 700px) {

  .footer-item {
    gap: 25px;
  }

  .footer-item img {
    height: 32px;
  }

  .copyright {
    font-size: 12pt;
  }
}
/***************************************************/





/*********************************/
/*estilos para icono hacia arriba*/
/*********************************/
.ir-arriba {
  	display: block;/*sera un elemento/item de tipo flex*/
  	flex-direction: column;
  	align-items: center; 
}
.ir-arriba img{
  	height: 60px;
  	padding-right: 30px;
  	text-decoration: none;
  	cursor:pointer;
  	position:fixed;
 	bottom:20px;
}
/**media query cuando ancho es menor o igual a 700px**/
@media screen and (max-width: 400px){
	.ir-arriba img{
		height: 50px;
  		padding-right: 0px;
	}
}
.ir-arriba img:hover{
	transform: scale(1.1);
  	transition: 100ms;
}
/***************************************************/

/* TODO */

img {
	max-width: 100%;
	height: auto;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación 16:9 (puedes cambiarla) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


p {
	line-height: 1.5;
}
